    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ site.url }}/">Ryan Wilson-Perkin</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{{ site.url }}/projects">Projects</a></li>
              <li><a href="{{ site.url }}/resume">Resume</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Workterms
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{ site.url }}/workterms/rim">Research In Motion</a></li>
                  <li><a href="{{ site.url }}/workterms/wave">Wave Accounting</a></li>
                  <li><a href="{{ site.url }}/workterms/google">Google</a></li>
                </ul>
              </li>
              <li><a href="{{ site.url }}/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

