<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.url }}/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.url }}/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="{{ site.url }}/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{ site.url }}/main.css">
  </head>
  <body>
    {% include navbar.html %}
    <div id="content" class="container">
      {% include alert.html %}
      <div class="hero-unit">
        {% contentblock intro %}
      </div>
      <div class="row">
        <div class="span4">
          {% contentblock projects-callout %}
          <a class="btn" href="{{ site.url }}/projects">See more &raquo;</a>
        </div>
        <div class="span4">
          {% contentblock resume-callout %}
          <a class="btn" href="{{ site.url }}/resume">See more &raquo;</a>
        </div>
        <div class="span4">
          {% contentblock contact-callout  %}
          <a class="btn" href="{{ site.url }}/contact">See more &raquo;</a>
        </div>
      </div>
    </div>
    {% include footer.html %}
    <script rel="text/javascript" src="/jquery/jquery.js"></script>
    <script rel="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
  </body> 
</html>
